.container-fluid{
    background-color: black;
    height: 70PX;
}

.block_with_logo{
    padding-top: 21px;
}
.ul_navigation{
    width: 700px;
    padding-top: 20px;
    display: flex;
    list-style-type: none;
}
.ul_navigation a{
    color: white;
    text-decoration: none;
}
.ul_navigation li{
    padding-left: 10px;
    padding-right: 10px;
}

/* Dropdown Button */
.dropbtn {
    margin-bottom: 300px;
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.global_items_div{
    position: relative;
    padding-top: 20px;
}
.item{
    position: relative;
    width: 300px;
    height: 400px;
    padding:20px 20px 20px 20px;
    color: black;
    border: 1px solid #e5e5e5;
}

.img_item{
   width: auto;
   max-width: 100%;
   max-height: 100%;
   object-fit: contain;
}
.config_span{
    text-align: center;
    font-weight: 400;
    color: #80868e;
    line-height: 1.45;
    display: block;
}
.model_name{
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.item-price{
    position: absolute;
    bottom: 5px;
    color: #2a2a2f;
    font-weight: 700;
}
.more_details_a{
    text-align: center;
    background-color:#80868e;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-decoration: none;
    right: 5px;
    bottom: 5px;
    position: absolute;
}
.more_details_a:hover{
    color: black;
}

.rating-area {
    position: absolute;
    bottom: 50px;
    left: 2px;
	overflow: hidden;
	width: 265px;
	margin: 0 auto;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 22px;
	line-height: 22px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: black;
	text-shadow: 1px 1px black;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: black;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: black;
	text-shadow: 1px 1px black;
}
.rate-area > label:active {
	position: relative;
}


.tabs-details{
    padding-top: 20px;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid #e5e5e5;
    height: 46px;
    margin-bottom: 24px;
}
.a_tabs{
    color: #2a2a2f;
    font-weight: bold;
    padding-right: 10px;
    text-decoration: none;
}
.a_tabs:hover{
    color: #1fb0a8;
}

.all_product_title{
    font-size: 24px;
    min-height: 34px;
    line-height: 34px;
}
.strong_for_icon{
    text-align: center;
}
.options hr{
   margin-bottom: 10px;
}
.with_all_product_info_img img{
    width: 75%;
}


.login_button{
    color:white;
    text-decoration: none;
    padding: 0;
    position: absolute;
    right: 100px;
    top: 20px;
}

.login_button:hover{
   color: white;
}

.register_button{
    color:white;
    text-decoration: none;
    padding: 0;
    position: absolute;
    right: 150px;
    top: 20px;
}
.register_button:hover{
    color:white;
}

.auth_user{
    color:white;
    text-decoration: none;
    padding: 0;
    position: absolute;
    right: 150px;
    top: 20px;
}

.logout_button{
    color:white;
    text-decoration: none;
    padding: 0;
    position: absolute;
    right: 50px;
    top: 20px;
}